.container {
    margin: 50px 0px 5px 10px;
}
.table {
    width: 1160px;
}
td, th {
    text-align: center;
}
.caption {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-top:10px;
}